@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Mabry";
    src: url("/assets/fonts/mabry-medium-pro.woff2") format("woff2"),
      url("/assets/fonts/mabry-medium-pro.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-image: linear-gradient(
        to bottom,
        rgb(64, 46, 193, 0.7),
        rgb(64, 46, 193, 0.7)
      ),
      url("/assets/images/repeat.svg");
    background-position: 0 -70px;
    background-size: 200%;
    @apply min-h-screen bg-cn-blue text-white md:text-xl pb-[200px];
  }

  h2 {
    @apply text-cn-orange text-4xl md:text-[60px] leading-[60px];
  }
}

@layer utilities {
  .container {
    @apply px-8 xl:px-0 md:ml-[108px] max-w-[865px];
  }
}
