@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Mabry";
    src: url("/assets/fonts/mabry-medium-pro.woff2") format("woff2"),
      url("/assets/fonts/mabry-medium-pro.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    background-image: linear-gradient(
        to bottom,
        rgb(64, 46, 193, 0.7),
        rgb(64, 46, 193, 0.7)
      ),
      url("/assets/images/repeat.svg");
    background-position: 0 -70px;
    background-size: 200%;
    @apply min-h-screen bg-cn-blue text-white md:text-xl;
  }

  a {
    @apply text-white underline underline-offset-4 hover:text-cn-orange duration-300;
  }
}

@layer utilities {
  .container {
    @apply px-8 md:px-16 xl:px-5 xl:ml-[108px] max-w-[865px];
  }

  .container--wide {
    @apply px-8 md:px-16 xl:px-5 xl:ml-[108px] max-w-screen-xl;
  }

  .cn-text {
    @apply text-white marker:text-white prose prose-a:text-white lg:prose-xl prose-headings:text-cn-orange prose-p:leading-normal prose-ul:space-y-2 prose-ol:space-y-2 prose-img:my-0 lg:prose-img:my-0 prose-blockquote:text-white;
  }

  .cn-btn {
    @apply disabled:bg-gray-300 disabled:text-gray-400 text-cn-blue--contrast text-base bg-cn-orange rounded-full py-4 px-8 flex justify-center hover:bg-white hover:text-cn-blue transition-colors duration-500 no-underline hover:cursor-pointer;
  }

  .cn-message {
    @apply text-white pt-1 pb-2 px-3 inline-block rounded;
  }

  .cn-image {
    @apply w-full object-cover mix-blend-screen opacity-80 grayscale bg-cn-orange;
  }
}
